//fonts
$google-font: "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap";

$fontFamily: "Inter", sans-serif;

$baseFontSize: 16px;

// Paths

$i: "../i/";
$fontPath: "../fonts/";

// Colors
$black: #000000;
$black2: #212529;

$white: #ffffff;
$amaranth: #fd5c63;
$amaranth-o: #fd5c649c;
$lite-orange: #fcf5ed;
$lite-orange2: rgb(255, 228, 230);
$grey: #444;
$grey2: #555;
$bown: #594747;
$text-dark: #343a40;
$p-color: #777;
$p-color-two: #f00303f1 7;
$e-color: #eeeeee;
$e-color2: #eeeeee65;

$bg-color: #d6ebee;
