//fonts
$google-font: "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap";

$fontFamily: "Inter", sans-serif;

$baseFontSize: 16px;

// Paths

$i: "../i/";
$fontPath: "../fonts/";

// Colors
$black: #000000;
$black2: #212529;

$white: #ffffff;
$amaranth: #fd5c63;
$amaranth-o: #fd5c649c;
$grey: #444;
$bown: #594747;
$text-dark: #343a40;
$p-color: #777;
$p-color-two:rgba(240, 3, 3, 0.945)7;
$e-color: rgb(238, 238, 238);
$e-color2: rgba(238, 238, 238, 0.397);

$bg-color: #d6ebee;
