.form {
  &__wrapp {
    padding: 50px 0px;
    display: grid;
    grid-template-columns: minmax(200px, 510px);
    grid-gap: 10px;
    justify-content: center;
  }
  &__img-box {
    img {
      width: 100%;
      max-width: 100%;
    }
  }

  &__box {
    background: $bg-color2;
    padding: 20px;
  }
  &__title {
    @include font(600, 20px, $grey2);
    padding: 0px 0px 10px 0px;
  }
  &__text {
    @include font(300, 20px, $p-color);
    line-height: 36px;
    padding: 0px 0px 30px 0px;
  }
  &__form {
    display: grid;
    grid-gap: 20px;
    padding: 0px 0px 30px 0px;
  }
  &__box-input {
    &_big {
    }
  }
  &__label {
    @include font(700, 13px, $grey2) {
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    display: block;
    padding: 0px 0px 10px 0px;
  }
  &__input,
  &__textarea {
    width: 100%;
    max-width: 100%;
    padding: 5px 8px;
    border: 1px solid rgba(128, 128, 128, 0.541);
    font-size: rem(15px);
    &.focus {
      background-color: $white;
    }
    &._error {
      border: 1px solid rgba(231, 11, 11, 0.856);
    }
  }
  &__textarea {
    resize: vertical;
    min-height: 150px;
  }
  &__box-btn {
  }
  &__btn {
    @include btn();
  }
}
