// mobile menu
.header-mobile {
  &__menu-wrapp {
    display: none;

    &.active {
      display: block;
    }
  }
  &__menu {
    padding: 0px 20px 0px 20px;
  }
  &__menu-li {
    position: relative;
    &.has-submenu ul {
      display: none;
    }
  }
  &__menu-link {
    display: block;
    padding: 15px 70px 15px 0px;
    @include font(700, 13px, $bown) {
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    @include psevdo(0, 100%, 1px) {
      left: 0;
      bottom: 0;
      background-color: $e-color;
    }
    &.is-submenu {
      position: relative;
      display: block;
      width: 100%;

      &.opened {
        color: $amaranth;
      }
      & + ul {
        display: none;
      }
    }
    &_sub {
      padding: 15px 0px 20px 15px;
      width: 100%;

      @include font(400, 11px, $bown) {
        text-transform: uppercase;
      }
    }
    &.selected {
      color: $amaranth;
    }
  }
}
.menu__arrow {
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  opacity: 0.8;
  right: 0;
  top: 5px;
  // top: 50%;
  // transform: translateY(-50%) rotate(-90deg);
  background: url(#{$i}grey-arrow.svg) center center / 60% 60% no-repeat;
  transition: all 0.2s ease;
  &.opened {
    color: $amaranth;
    transform: rotate(-180deg);
  }
}
