.form {
  &__wrapp {
    padding: 50px 0px;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  &__img-box {
    opacity: 0.8;
  }
  &__box {
    padding: 40px;
  }
  &__title {
  }
  &__text {
  }
  &__form {
  }
  &__box-input {
    &_big {
    }
  }
  &__label {
  }
  &__input {
  }
  &__textarea {
  }
  &__box-btn {
  }
  &__btn {
  }
}
.container {
}
