.header {
      &__wrapp {
      }
      &__logo-wrapp {
      }
      &__logo-link {
            font-size: rem(24px);
      }
      &__menu-wrapp {
      }
      &__icon-box {
            display: none;
      }
      &__icon-span {
            &_top {
            }
            &_center {
            }
            &_bottom {
            }
      }
      &__menu {
            display: flex;
            align-items: center;
      }

      &__menu-li {
            list-style-type: none;
            padding: 27px 10px;
            &:last-of-type {
                  padding: 0px 40px 0px 10px;
            }
            &:first-of-type {
                  @include psevdo(1, 100%, 3px) {
                        background: $amaranth;
                        top: 0;
                        left: 0;
                  }
            }
            &:first-of-type {
                  a {
                        color: $amaranth;
                  }
            }
      }
      &__menu-link {
            @include font(600, 14px, $grey) {
                  text-transform: uppercase;
            }
            &:hover {
                  color: $amaranth;
            }
      }
      &__book-now {
      }
      &__book-now-link {
            font-size: rem(16px);
      }
}
